*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --border: 4px solid; /* Le da valores a los bordes */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87CEEB;
}

.bubble{
    width: max-content;
    margin: 200px auto;

    position: relative;/*CAMBIAR*/
}

/* Cara Burbuja*/
.face{
    position: relative; /*CAMBIAR*/

    width: 320px;
    height: 270px;
    border: var(--border);
    background-color: #FFDCC8; /*Color cara*/
    border-radius: 50%; /*Hace cara redonda*/
    overflow: hidden;
}

.face::before{
    content: "";

    position: absolute; /*CAMBIAR*/

    z-index: 10; /*Revisar si se puede*/

    width: 70%;
    aspect-ratio: 1/1;
    background-color: yellow;
    border-radius: 50%;
    border: var(--border);
    top: -56%;
    left: -65px;
}

.face::after{
    content: "";

    position: absolute; /*CAMBIAR*/

    width: 70%;
    aspect-ratio: 1/1;
    background-color: yellow;
    border-radius: 50%;
    border: var(--border);
    top: -56%;
    right: -65px;
}

.eye{
    position: absolute; /*CAMBIAR*/

    width: 50%;
    aspect-ratio: 1/1; /*Ancho = alto*/
    border: var(--border);
    background-color: white; /*Color ojo*/
    border-radius: 50%; /*Hace ojo redonda*/
    overflow: hidden; /*Para que todo lo que salga del contenedor, se esconda*/
}

.eye-l{
    top: 20px;
    left: -30px;
}

.eye-r{
    top: 30px;
    right: -20px;
}

.pupil-l{
    position: absolute; /*CAMBIAR*/
    right: -10px;
    top: 0;
    bottom: 0;
    margin: auto 0;

    width: 60%;
    height: 74%;
    background-color: black;
    border-radius: 50px;

    box-shadow: 0 0 0 10px #84b5eb; /*CAMBIAR*/
}

.pupil-l::after{ /*Seudoelemento para brillo en ojo*/
    content: "";

    /*CAMBIAR*/
    position: absolute; /*CAMBIAR*/
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 20px;


    width: 40%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
}

.pupil-r{
    position: absolute; /*CAMBIAR*/
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;

    width: 70%;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 50px;

    box-shadow: 0 0 0 10px #84b5eb; /*CAMBIAR*/
}

.pupil-r::after{/*Seudoelemento para brillo en ojo*/
    content: "";

    /*CAMBIAR*/
    position: absolute; /*CAMBIAR*/
    inset: 0; /*Top, bottom, right y left*/
    margin: auto;


    width: 40%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    right: -10px;
}

.smile{
    /*CAMBIAR*/
    position: absolute; /*CAMBIAR*/
    bottom: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;

    width: 40px;
    height: 40px;
    border: var(--border);
    border-radius: 50%;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}

.hair{
    z-index: -1;
    /*CAMBIAR*/
    position: absolute; /*CAMBIAR*/
    top:-40px;

    width: 130px;
    height: 130px;
    background-color: yellow;
    border: var(--border);
    border-radius: 50%;
}

.hair-r{
    right: 0;

}
    .eyes{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 20px;
    }
    
    .eye{
        width: 50%;
        aspect-ratio: 1/1; /* Ancho = alto */
        border: var(--border);
        background-color: white; /* Color ojo */
        border-radius: 50%; /* Hace ojo redonda */
        display: flex;
        justify-content: center;
        align-items: center;
    }